# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# I included the node_modules (massive files) and my eclipse project info

node_modules
.jshintrc
.project
.sublime-project
.tern-project